.elsa-background {
    width: 100%;
    height: 80vh
}

.elsa-book-text {
    padding: 30px;
    min-width: 200px;
    max-width: 400px;
}
.elsa-bok-container {
    width: 20vw;
}

.elsa-bok-container-landscape {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-top: 100px;
    justify-content: space-around;
    padding-bottom: 100px;
    flex-wrap: wrap;
    width: fit-content;
    margin: auto;
}

.elsa-bok-variety {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 1vw;
    padding-right: 1vw;
    flex-wrap: wrap;
}

.elsa-bok-mynd {
    min-width: 350px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: auto;
    padding: 2vw;
    width: 30vw;
}
.elsa-main-text {
    position: absolute;
    top: 60vh;
    left: 20vw;
    font-family: 'Roboto';
    font-size: 25px;
    color: white;
}

@media (max-width: 1280px) {
    .elsa-main-text {
        left: 10vw;
        font-size: 15px;
    }
}

.who-are-we {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
    flex-wrap: wrap;
}

.sonn-checkboxes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 40px;
    padding-bottom: 30px;
}

.elsa-order{
    color: green;
    font-size: 20px;
}
.mobile-navigation-icon {
    height: 70px;
}
